/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'garetbold';
    src: url('../fonts/garet_bold-webfont.woff2') format('woff2'),
         url('../fonts/garet_bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/lato-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
}

:root {
	background-color: #ebecf0;
}
#site__wrapper {
	margin: 20px auto;
	box-sizing: border-box;
	max-width: 990px;
	min-width: 100px;
	box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
#main__wrapper {
	display: flex;
	overflow: hidden;
}

#left__sidebar {
	padding: 30px 20px 30px 58px;
	width: 34%;
	color: #fff;
    background-color: #1a484d;
}
#left__sidebar h2 {
	margin: 15px 0px 8.5px 2px; 
	font-family: 'garetbold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 26px;
	font-style: initial;
}
#avatar {
	margin-bottom: px;
	padding-top: 10px;
	background-color: #1a484d;
}
#avatar img {
	max-width: 75%;
	border: 11.5px solid #2e5d70;
	border-radius: 50%;
}
#phone__number p:first-child, #e-mail p:first-child {
	display: block;
	font-family: 'latobold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 19px;
}
#phone__number p:last-child, #e-mail p:last-child {
	position: relative;
	left: 102px;
	bottom: 17px;
	display: block;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: light;
	font-size: 17px;
}
nav {
	margin-top: -5px;
	margin-left: 5px;
	margin-bottom: 18px;
	display: flex;
	justify-content:left;
}
nav a {
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	color: #90b4c3;
}
#LinkedIn {
	margin-right: 20px;
}
#VK {
	margin-left: 20px;
}
#LinkedIn a img {
	width: 51%;
}
#VK a img {
	margin-top: -1px;
	width: 66%;
} 
#LinkedIn a:last-child, #VK a:last-child {
	margin-top: 4px;
	align-self: center;
	display: block;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: light;
	font-size: 17px;
}
#eng p:first-child, #jpn p:first-child {
	font-family: 'latobold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 19px;
}
#eng p:last-child, #jpn p:last-child {
	position: relative;
	left: 102px;
	bottom: 18px;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: light;
	font-size: 17px;
}
#language__info h2, #hard__skills h2 {
	margin-top: 6px;
}
#language__info p, #contact__info p {
	padding-left: 8px;
}
.skills__list {
	padding-left: 20px;
	font-family: 'latobold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 19px;
	line-height: 2.4rem;;
}

#right__sidebar {
	padding: 82px 26px 30px 30px;
	width: 61%; 
	color: #323b4c;
	background-color: #fff;
}
#right__sidebar h2 {
	margin: 15px 0px 8.5px 2px; 
	font-family: 'garetbold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 26px;
	font-style: initial;
	color: #323B4C;
}
#about__me {
	margin-bottom: 46px;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: light;
	font-size: 16.5px;
}
#name {
	margin-bottom: 10px;
	font-size: 38px;
	font-weight: 900;
	font-style: initial;
	letter-spacing: 4.7px;
}
#specialization {
	padding-left: 4px;
	margin-bottom: 43px;
	font-size: 25px;
	font-weight: 100;
	font-style: initial;
	letter-spacing: 5.5px;
}
#personal__info {
	line-height: 29px;
	list-style: none;
}
#occupation {
	padding: 4px 0px 0px 30px;
	background-image: url('../img/graduation.png');
	background-size: 26px 26px;
	background-repeat: no-repeat;
	background-position: left center;
}
#location {
	padding: 4px 0px 0px 30px;
	background-image: url('../img/location-pin.png');
	background-size: 27px 27px;
	background-repeat: no-repeat;
	background-position: left center;
}
#age {
	position: relative;
	margin: -33px 0px 0px 198px;
	padding: 4px 0px 0px 30px;
	background-image: url('../img/information-button.png');
	background-size: 19px 19px;
	background-repeat: no-repeat;
	background-position: left center;
}
#experience {
	margin-top: 10px;
	font-family: 'latolight', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: #737376;
}
#experience b{
	font-family: 'latobold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#projects li{
	margin-bottom: 12px;
	margin-left: 8px;
	list-style: none;
}
#personal__statement {
	font-family: 'latolight', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: #737376;
}
#personal__statement p {
	margin-left: 8px;
}
#educational__institutions {
	list-style: none;
	margin-left: 8px;
}
.period__of__apprenticeship {
	font-family: 'garetbold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 900;
	color: #737379;
}
.degree {
	margin-top: 3px;
	font-family: 'latolight', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14.5px;
	font-weight: 600;
	letter-spacing: 0.7px;
	color: #737376;
}
.education {
	margin-top: 10px;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.7px;
	color: #737376;
}
#courses .course{
	margin-right: 50px;
	margin-left: 8px;
	display: flex;
	align-items:normal;
	flex-direction: column;
}
.school__name {
	font-family: 'garetbold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 900;
	color: #737379;
}
.course__name {
	margin-top: 10px;
	font-family: 'latomedium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #737376;
	list-style: none;
	line-height: 22px;
}
#RSSchool {
	float: left;
}
#programming__language {
	margin-left: 8px;
	font-family: 'garetbold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 900;
	color: #737379;
}
#code__container {
	margin-left: 8px;
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	color: #737376;
}